:root {
	--main: #1995fc;
	--white: #fff;
	--500-white: rgba(255, 255, 255, 0.5);
	--second: #7c7f7d;
	--third: rgba(255, 255, 255, 0.25);
	--dark: #26282b;
	--fon: #1c1d1e;
	--error: #ff3e68;
	--unactived-main: #436886;
    --font-family: "Inter", sans-serif;
    --second-family: "Overpass", sans-serif;
    --third-family: "Manrope", sans-serif;
}

*{
    box-sizing: border-box;
    line-height: 120%;
}

body{
    background: var(--fon);
    color: var(--white);
    font-family: var(--font-family);
}

.desktop{
    display:none;
}

.tablet{
    display:none;
}

.mobile{
    display:none;
}

.slide:nth-child(1){
   padding-top:32px;
}

.container{
    width:100%;
    max-width: 1440px;
    padding:0px 32px;
    margin: 0 auto;
}

.head{
    position:relative;
    z-index:2;
}

.logo{
    display:flex;
    align-items: center;
}

.simpTitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--second);
}

.simpText{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--white);
}

.logoPic{
    width:25px;
    height:28px;
    background:url("../media/img/logo.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
}

.logoText{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: var(--white);
    margin-left:12px
}

.platform{
    position:relative;
    margin-top:-42px;
    background-image: url("../media/img/dots.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platformShadow{
    background-image: url("../media/img/frame-back.svg");
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.platformContent{
    display:flex;
    align-items:flex-end;
    position:relative;
    gap:132px;
}

.platformContentText{
    flex:0 0 332px;
}

.platformContentText .title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}

.platformContentText .text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    margin-top:32px;
}

.dwn{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--main);   
    display:flex;
}

.dwn i::after{
    content:"";
    display:block;
    width:16px;
    height:18px;
    background:url("../media/img/arrow.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
    margin-left:16px;
}

.platformContentText .dwn{
    margin-top:32px;
}

.platformContentMedia{
    flex:1 1 auto;
}

.platformContentMediaTop{
    padding:60px 60px 40px 60px;
    background: var(--dark);
    display:flex;
    flex-direction: column;
}

.platformContentMediaMenu{
    display:flex;
    gap:36px;
    flex-wrap: wrap;
}

.platformContentMediaMenu span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main);
    cursor:default;
}

.platformContentMediaPic{
    margin-top:40px;
}

.platformContentMediaBtn{   
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1c1c1e;
    background: var(--main);
    border-radius: 0 0 12px 12px;
    padding: 20px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:0.2s;
}

.platformContentMediaBtn:hover{
    color:var(--white);
}

.platformSoc{
    position:relative;
    margin-top:40px;
    display:flex;
    gap:28px;
    background: #2f3235;
    padding:20px 28px;
    border-radius: 12px;
    align-items:center;
}

.platformSocLogo{
    width:16px;
    height:17px;
    background:url("../media/img/logo.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
}

.platformSocMenu{
    display:flex;
    gap:22px;
}

.platformSocMenu a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

/************************************/

.futureTop{
    max-width: 332px;
    position:absolute;
    left:0;
    top:0;
}

.future{
    margin-top:50px;
    position:relative;
    padding-top:72px;
}

.futureTopTitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--second);
}

.futureTopText{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--white);
    margin-top:20px;
}

.futureBot{
    position:relative;
    min-height:605px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:472px;
    background-image: url("../media/img/blueDotsD.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.futureBotCol span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: right;
    color: var(--main);
    cursor:default;
}

.futureBotCol{
    display:flex;
    flex-direction: column;
    gap:65px;
    flex:1 1 100%;
}

.futureBotOne{
    align-items: flex-end;
}

.futureBotTwo{
    align-items: flex-start;
}

.futureBotBg{
    position:absolute;
    width:450px;
    height:190px;
    left:50%;
    top:50%;
    margin-top:-90px;
    margin-left:-225px;
    background-image: url("../media/img/futureD.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*************************************/

.functions{
    display:flex;
    gap:132px;
}

.functionsCol{
    display:flex;
}

.functionsCol:nth-child(1){
    flex-direction: column;
    justify-content: space-between;
    flex:0 0 332px;
}

.functionsTitle{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--white);
}

.functionsText{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
}

.functionsEls{
    display:flex;
    gap:16px;
    flex-wrap:wrap;
}

.functionsEl{
    border-radius: 12px;
    padding: 20px;
    flex: 1 0 40%;
    height: 116px;
    background: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--dark);
}

.functionsEl>div{
    max-width:300px;
}

/*************************/

.fastClearText{
    margin-top:20px;
}

.fastClearCol:nth-child(1){
    flex-direction: column;
    justify-content: space-between;
    flex:0 0 332px;
    display: flex;
}

.fastClearColBot{
    display:flex;
    flex-direction: column;
    width: 216px;
}

.fastClear{
    display:flex;
    gap:132px;
}

.fastClearCons{
    border-radius: 20px 20px 0px 0px;
    padding: 26px;    
    background: var(--dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.fastClearTg{
    background: var(--main);
    border-radius: 0 0 12px 12px;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #1c1c1e;
}

.fastClearEls{
    display:flex;
    gap:16px;
    flex-wrap:wrap;
}

.fastClearEl{
    border-radius: 12px;
    padding: 20px;
    height: 154px;
    background: var(--dark);
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    position:relative;
}

.fastClearEl:nth-child(1){
    width:332px;
    background: var(--main);
    color: var(--dark);
}

.fastClearEl:nth-child(1)::after{
    width:58px;
    height:45px;
    content:'';
    position:absolute;
    right:20px;
    bottom:20px;
    background-image: url("../media/img/astralinux.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.fastClearEl:nth-child(2){
    width:216px;
}

.fastClearEl:nth-child(3){
    width:332px;
}

.fastClearEl:nth-child(4){
    width:332px;
}

.fastClearEl:nth-child(4)::after{
    width:32px;
    height:39px;
    content:'';
    position:absolute;
    right:30px;
    bottom:30px;
    background-image: url("../media/img/ruble.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.fastClearEl:nth-child(5){
    width:332px;
}

.fastClearEl:nth-child(6){
    width:216px;
    background: var(--white);
    color: var(--dark);
}

.fastClearEl:nth-child(7){
    width:332px;
}

.fastClearEl:nth-child(8){
    width:216px;
    background: var(--white);
    color: var(--dark);
}

.fastClearEl:nth-child(9){
    width:332px;
}

.fastClearEl:nth-child(10){
    width:216px;
    background: var(--white);
    color: var(--dark);
}

.fastClearEl:nth-child(11){
    width:332px;
}

.fastClearEl:nth-child(12){
    width:332px;
    background: var(--main);
    color: var(--dark);
}

.fastClearBot{
    display:none;
}


/*********************************/

.arch{
    display:flex;
    flex-direction: column;
    gap:67px;
}

.archText{
    margin-top:20px;
}
.archCol:nth-child(1){
    display: flex;
    gap:480px;
}

.archColLeft{
    flex:0 0 332px;
}

.archColRight{
    padding-top:32px;
    flex:0 0 332px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
}

.archCol:nth-child(2){
    display: flex;
    gap:280px;
    align-items: flex-end;
}

.archColBur{
    flex:0 0 auto;
    width: 183px;
    height:395px;
    background-image: url("../media/img/bur.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.archEls{
    display:flex;
    flex-direction: column;
    gap:16px;
}

.archEl{
    display:flex;
    gap:48px;
    height:145px;
    border-radius: 12px;
    padding: 20px;
    background: var(--dark);
}


.archElLeft{
    flex:0 0 280px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--white);
}

.archElRight{
    flex:0 0 332px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
}

/*********************************/

.driver{
    display:flex;
    flex-direction: column;
    gap:80px;
}

.driverText{
    margin-top:20px;
}

.driverCol:nth-child(1){
    display: flex;
    gap:480px;
}

.driverColLeft{
    flex:0 0 332px;
}

.driverColRight{
    padding-top:32px;
    flex:0 0 332px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
}


.driverCol:nth-child(2){
    display: flex;
    gap:248px;
    align-items: flex-end;
}

.driverEls{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
}

.driverEl{
    border: 1px solid var(--main);
    border-radius: 12px;
    padding: 20px;
    width: 293px;
    height: 80px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--main);
}

.driverForm{
    flex:0 0 216px;
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
}

.driverCons {
    border-radius: 20px 20px 0px 0px;
    padding: 26px;
    background: var(--dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.driverTg{
    background: var(--main);
    border-radius: 0 0 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #1c1c1e;
}


/***************************/

.lua{
    border-radius: 12px;
    padding:32px;
    display:flex;
    flex-direction: column;
    gap:62px;
    background-image: url("../media/img/luaBgD.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.luaTop{
    display:flex;
    justify-content: space-between;
}

.luaTopText{
    flex:0 0 332px;
}

.luaTopLogo{
    width:184px;
    height:184px;
    background-image: url("../media/img/lua.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.luaTitle{
    color: var(--white);
}

.luaText{
    margin-top:20px;
}

.luaBot{
    display:flex;
    gap:480px;
    align-items: flex-end;
}

.luaBotText{
    flex:0 0 332px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.luaBotInfo{
    flex:0 0 300px;
    border: 1px solid var(--white);
    border-radius: 12px;
    padding: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}



/************************************/

.storage{
    display:flex;
    flex-direction: column;
    gap:60px;
}

.storageTop{
    display:flex;
    gap:480px;
}

.storageTopText{
    flex:0 0 332px;
}

.storageText{
    margin-top:20px;
}

.storageTopDesc{
    padding-top:32px;
    flex:0 0 332px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
}

.storageBot{
    display:flex;
    gap:248px;
    align-items: flex-end;
}


.storageEls{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
}

.storageEl{
    flex:1 1 40%;
    background: var(--dark);
    border-radius: 12px;
    padding: 20px;
    height: 139px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.storageElTitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--white);
}

.storageElDesc{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.storageElDescText{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--third);
}

.storageEl:nth-child(1) .storageElDescPic{
    width:48px;
    height:49px;
    background-image: url("../media/img/PostgreSQL.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom:-6px;
}

.storageEl:nth-child(2) .storageElDescPic{
    width:90px;
    height:27px;
    background-image: url("../media/img/PostgreSQLPRO.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.storageEl:nth-child(3) .storageElDescPic{
    width:78px;
    height:37px;
    background-image: url("../media/img/SQLite.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom:-5px;
}

.storageEl:nth-child(4) .storageElDescPic{
    width:61px;
    height:22px;
    background-image: url("../media/img/Tantor.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.storagePresentation{
    flex: 0 0 216px;
    display: flex;
    flex-direction: column;
}

.storageBotPresentationTop{
    border-radius: 20px 20px 0px 0px;
    padding: 26px;
    background: var(--dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.storageBotPresentationTop::before{
    display:block;
    content:'';
    width:32px;
    height:32px;
    background-image: url("../media/img/doc.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom:20px;
}

.storageBotPresentationBot{
    background: var(--main);
    border-radius: 0 0 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #1c1c1e;
}

/************************************************/

.astra{
    border-radius: 12px;
    padding:32px;
    display:flex;
    flex-direction: column;
    gap:84px;
    background-image: url("../media/img/linuxBgD.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.astraTop{
    display:flex;
    gap:448px;
}

.astraTextOb{
    flex:0 0 332px;
}

.astraText{
    margin-top:20px;
}

.astraDesc{
    padding-top:32px;
    display:flex;
    gap:26px;
}

.astraDescContent{
    display:flex;
    flex-direction: column;
    gap:16px;
    flex:0 0 332px;
}

.astraDescContentText{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);    
}

.astraDescPic{
    width:168px;
    height:60px;
    background-image: url("../media/img/linux.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    flex:0 0 auto;
}

.astraBot{
    display:flex;
    border: 1px solid var(--main);
    border-radius: 12px;
    padding:40px 83px 32px 83px;
    position:relative;
    flex-direction: column;
}

.astraBotEls{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.astraBotElsIn{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}

.astraBotEl{
    border: 1px solid var(--main);
    border-radius: 12px;
    padding: 20px;
    width: 550px;
    height: 118px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--main);
    position:relative;
}

.astraBotEl:nth-child(1)::before{
    left:249px;
    bottom:-32px;
    content:'';
    position:absolute;
    width:16px;
    height:24px;
    background-image: url("../media/img/arrowBig.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.astraBotEl:nth-child(1)::after{
    content:'';
    position:absolute;
    right:249px;
    bottom:-32px;
    width:16px;
    height:24px;
    background-image: url("../media/img/arrowBig.svg");
    transform:rotate(180deg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.astraBotEl:nth-child(2)::before{
    left:-30px;
    top:50%;
    margin-top:-12px;
    content:'';
    position:absolute;
    width:16px;
    height:24px;
    transform:rotate(90deg);
    background-image: url("../media/img/arrowBig.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.astraBotEl:nth-child(4)::before{
    left:-30px;
    top:50%;
    margin-top:-12px;
    content:'';
    position:absolute;
    width:16px;
    height:24px;
    transform:rotate(90deg);
    background-image: url("../media/img/arrowBig.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.astraBotReserv{
    position:absolute;
    transform:rotate(-90deg);
    left: -20px;
    top: 50%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
    transform-origin: center center;
    margin-top: -40px;
}

.astraBotElsBot{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
    display:flex;
    gap:8px;
    align-items: center;
    align-self:center;
}

.astraBotElsBot::after{
    content:'';
    width:89px;
    height:34px;
    background-image: url("../media/img/brest.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

/**************************************************/


.footerIn{
    height:226px;
    padding:20px;
}

.footerTop{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footerTopLogo{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: var(--main);
    display:flex;
    gap:12px;
    align-items: center;
}

.footerTopLogo::before{
    content:"";
    width:25px;
    height:28px;
    background:url("../media/img/logo.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
}

.footerTopContactPhone{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--main);
}

.footerTopContact{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.footerTopContactSoc{
    display:flex;
    gap:24px;
}

.footerTopContactSoc>a{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--main);
}

/************************************/

.kasp{
    display:flex;
    flex-direction: column;
    gap:60px;
}

.kaspTop{
    display: flex;
    gap:480px;
}

.kaspTopOne{
    flex:0 0 332px;
}

.kaspText{
    margin-top:20px;
}

.kaspTopTwo{
    flex:0 0 332px;
    padding-top:32px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
}

.kaspMid{
    display:flex;
    gap:2px;
}

.kaspMidEl{
    flex:1 1 40%;
    border-radius: 12px 0 0 12px;
    height: 257px;
    background: var(--dark);
    display:flex;
    align-items: center;
    justify-content: center;
}

.kaspMidKaspLogo{
    width:207px;
    height:71px;
    background:url("../media/img/kasp.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
}

.kaspMidKSimpLogo{
    display: flex;
    gap:22px;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 29px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: var(--white);
}

.kaspMidKSimpLogo::before{
    width:31px;
    height:34px;
    content:'';
    background:url("../media/img/logo.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center center;
}

.kaspBot{
    display: flex;
    gap:596px;
    align-items: flex-end;
}

.kaspBotWinLin{
    flex:0 0 216px;
    display: flex;
    flex-direction: column;
}

.kaspBotWinLinDesc{
    border-radius: 20px 20px 0px 0px;
    padding: 26px;
    background: var(--dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.kaspBotWinLinLink{
    background: var(--main);
    border-radius: 0 0 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #1c1c1e;
}

.kaspBotWinLinDesc::before{
    display: block;
    content: '';
    width: 79px;
    height: 39px;
    background-image: url(../media/img/winlin.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 26px;
}


.kaspBotDocs{
    flex:0 0 448px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark);
    border-radius: 12px;
    padding: 16px;
    gap:90px;
}

.kaspBotDocsTitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--500-white);
}

.kaspBotDocsLinks{
    display: flex;
    flex-direction: column;
    gap:32px;
}

.kaspBotDocsLinksTitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.kaspBotDocsLinksEl{
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--main);
}