@media (min-width:0px) and (max-width:767px){
    .mobile{
        display:block;
    }

    .container {
        max-width: 360px;
        padding: 16px;
    }

    .platform{
        margin-top:40px;
    }

    .platformContent{
        flex-direction: column;
        align-items: flex-start;
    }

    .platformContentText{
        flex: 0 0 auto;
    }
    .platformContentText .title{
        font-size: 24px;
    }

    .platformContentText .text{
        font-size: 16px;
        margin-top: 16px;
    }

    .dwn{
        font-size: 13px;
    }

    .platformContent{
        gap:40px;
    }

    .platformContentMediaTop {
        padding: 32px 32px 16px 32px;
    }
    
    .platformContentMediaMenu{
        gap:24px;
    }

    .platformSoc{
        margin-top:0px;
        position:absolute;
        bottom:186px;
    }

    .platformSocMenu a {
        font-size: 13px;
    }

    .platformContentMediaMenu span{
        font-size: 10px;
    }

    .platformContentMediaBtn{
        font-size:13px;
    }

    /**********************************************/

    .futureTop{
        top:0;
    }
    .future{
        padding-top:140px;
        margin-top:76px;
    }

    .futureTopText{
        font-size:24px;
    }

    .futureTopTitle{
        font-size:10px;
    }
    .futureBotCol span{
        font-size:16px;
        text-align: center;
        max-width:130px;
    }

    .futureBotBg{
        position: absolute;
        width: 246px;
        height: 302px;
        margin-top: -158px;
        margin-left: -123px;
        background-image: url(../media/img/futureM.svg);
    }

    .futureBot{
        min-height:522px;
        flex-direction: column;
        gap:317px;
        background-image: url(../media/img/blueDotsM.svg);
    }

    .futureBotCol{
        flex-direction: row;
        gap:0px;
    }

    /*********************************/

    .functions{
        display:flex;
        gap:60px;
        flex-direction: column;
        margin-top:100px;
    }
    
    .functionsCol{
        display:flex;
    }
    
    .functionsCol:nth-child(1){
        flex-direction: column;
        justify-content: flex-start;
        flex:1 1 auto;
        gap:16px;
    }
    
    .functionsTitle{
        font-size: 24px;
    }
    
    .functionsText{
        font-size: 13px;
    }
    
    .functionsEl{
        flex:1 1 100%;
        font-size: 13px;
    }
}