.smp_main{
    padding-top:32px;
    overflow:hidden;
}

.smp_header{
    height:42px;    
}

.smp_sl_1{
    display:flex;
    gap:132px;
    margin-top:-42px;
}

.smp_sl_1_l{
    gap:32px;
    width:332px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.smp_sl_1_l_bot{
    display:flex;
    flex-direction: column;
    gap:40px;
}

.smp_sl_1_l_bot_desc{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--white);
}

.smp_sl_1_l_bot_dwn{
    border-radius: 12px;
    padding: 20px;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:0.3s;
}

.smp_sl_1_r{
    background: var(--dark);
    border-radius: 12px;
    flex: 1 1 auto;
}

.smp_sl_1_r_pic img{
    border-radius: 12px;
}

.smp_sl_1_r_desc{
    padding:53px 32px 32px;
}

.smp_sl_1_r_desc>div{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
    max-width: 416px;
}

/**************************/

.smp_sl_2{
    display:flex;
    gap:132px;
    margin-top:292px;
}

.smp_sl_2_l{
    flex:0 0 332px;
}

.smp_title{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.smp_title_small{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--second);
}

.smp_title_big{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--white);
}

.smp_sl_2_r{
    flex:1 1 auto;
    display:flex;
    gap:16px;
}

.smp_sl_2_r_el{
    flex:1 1 33%;
    background: var(--dark);
    display:flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: space-between;
}

.smp_sl_2_r_el_top{    
    padding: 20px 20px 32px;
}

.smp_sl_2_r_el_top_pic{
    display:flex;
    justify-content: center;
}

.smp_sl_2_r_el_top_title{
    margin-top:32px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--white);
}

.smp_sl_2_r_el_top_desc{
    margin-top:40px;
    display:flex;
    flex-direction: column;
    gap:16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.smp_sl_2_r_el_bot{
    display:flex;
}

.smp_sl_2_r_el_bot a{
    width:100%;
    border-radius: 0 0 12px 12px;
    padding: 20px;
    height: 64px;
    background: var(--main);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1c1c1e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smp_soon{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--white);
    padding: 20px;
    height: 64px;
}

.smp_sl_3{
    margin-top:215px;
    display:flex;
    flex-direction: column;
}

.smp_sl_3_bot{
    display:flex;
    gap:132px;
}

.smp_sl_3_l{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    flex:0 0 332px;
    gap:32px;    
}

.smp_sl_3_top{
    display:flex;
    flex-direction: column;
    gap:80px;
    width:332px;
    margin-bottom:-330px;
}

.smp_sl_3_l_top_desc{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
}

.smp_sl_3_l_bot{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.smp_sl_3_l_bot_el{
    display:flex;
    flex-direction: column;
    background: var(--dark);
    border-radius: 12px;
}

.smp_sl_3_l_bot_el_desc{
    padding:26px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.smp_sl_3_l_bot_el_link{
    background: var(--main);
    padding: 20px;
    height: 64px;
    background: var(--main);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1c1c1e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 12px 12px;
}

.smp_sl_3_l_bot_el_link:hover{
    color: #1c1c1e;
}

.smp_sl_3_r{
    flex:1 1 auto;
    display:flex;
    flex-wrap: wrap;
    gap:16px;
}

.smp_sl_3_r_el{
    flex: 0 0 293px;
    display:flex;
    flex-direction: column;
    gap:25px;
    justify-content: space-between;
    background: var(--second);
    border-radius: 12px;
    padding: 20px;
    min-height:307px;
}

.smp_sl_3_r_el_title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--white);
}

.smp_sl_3_r_el_desc{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.smp_sl_3_r_el_pic{
    display:flex;
    justify-content: center;
}

.smp_sl_3_r_el_pic img{
    /*visibility:hidden;*/
}


.smp_sl_4{
    display:flex;
    gap:132px;
    margin-top:292px;
}

.smp_sl_4_l{
    flex:0 0 332px;
}

.smp_sl_4_r{
    flex:1 1 auto;
    display:flex;
    gap:16px;
}

.smp_sl_4_r_el{
    flex:1 1 33%;
    background: var(--dark);
    display:flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: space-between;
}

.smp_sl_4_r_el_top{    
    padding: 20px 20px 32px;
}

.smp_sl_4_r_el_top_pic{
    display:flex;
    justify-content: center;
}

.smp_sl_4_r_el_top_title{
    margin-top:32px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--white);
}

.smp_sl_4_r_el_top_desc{
    margin-top:40px;
    display:flex;
    flex-direction: column;
    gap:16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.smp_sl_4_r_el_bot{
    display:flex;
}

.smp_sl_4_r_el_bot a{
    width:100%;
    border-radius: 0 0 12px 12px;
    padding: 20px;
    height: 64px;
    background: var(--main);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1c1c1e;
    display: flex;
    align-items: center;
    justify-content: center;
}


.smp_sl_5{
    margin-top:186px;
    display:flex;
    gap:132px;
}

.smp_sl_5_l{
    flex:0 0 332px;
}

.smp_sl_5_r{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
}

.smp_sl_5_r_el{
    flex:1 1 448px;
    background: var(--dark);
    border-radius: 12px;
}

.smp_sl_5_r_el_pic{
    display:flex;
    justify-content: center;
    border-radius: 12px;
}

.smp_sl_5_r_el_pic img{
    border-radius: 12px;
}

.smp_sl_5_r_el_text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
    padding:20px;
}

.smp_sl_6{
    display:flex;
    gap:132px;
    padding-top:300px;
}

.smp_sl_6_l{
    flex:0 0 332px;
}

.smp_sl_6_r{
    flex:1 1 auto;
}

.smp_sl_6_carousel{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.smp_sl_6_carousel_top{
    display:flex;
    gap:16px;
}

.smp_sl_6_carousel_bot{
    display:flex;
    gap:16px;
}

.smp_sl_6_carousel_el{
    width: 564px;
    aspect-ratio: 564 / 388;
    flex:0 0 564px;
    border: 1px solid var(--main);
    border-radius: 12px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
    display:flex;
    align-items:flex-end;
    padding:20px;
    position:relative;
}

.smp_sl_6_carousel_el span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--main);
}

.smp_sl_7{
    height:952px;
    margin-top:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:60px;
}

.smp_sl_7_title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--second);
}

.smp_sl_7_els{
    display:flex;
    gap:86px;
    align-items: center;
    justify-content: center;
}

.smp_sl_8{
    margin-top:33px;
}

.smp_sl_8_desktop{
    display:flex;
    flex-direction: column;
}

.smp_sl_8_row{
    display:flex;
    gap:16px;
}

.smp_sl_8_1{
    display:flex;
    flex:0 0 216px;
    padding:0px;
    min-height:70px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--second);
}

.smp_sl_8_2{
    display:flex;
    flex:0 0 448px;
    padding:0px 16px;
    min-height:70px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
    border-left: 1px solid var(--main);
    border-right: 1px solid var(--main);
}

.smp_sl_8_3{
    display:flex;
    flex:0 0 448px;
    padding:0px 16px;
    min-height:70px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
    border-left: 1px solid var(--main);
    border-right: 1px solid var(--main);
}

.smp_sl_8_row_first .smp_sl_8_2, .smp_sl_8_row_first .smp_sl_8_3{
    border-top: 1px solid var(--main);
    border-radius: 12px 12px 0px 0px;
    min-height:90px;
}

.smp_sl_8_row_last .smp_sl_8_2, .smp_sl_8_row_last .smp_sl_8_3{
    border-bottom: 1px solid var(--main);
    border-radius: 0px 0px 12px 12px;   
}

.smp_sl_8_2 span,.smp_sl_8_3 span, .smp_sl_8_1 span{
    padding:16px;
    width:100%;
    border-radius: 12px;
    transition:0.2s;
    cursor:default;
}

.smp_sl_8_row:not(.smp_sl_8_row_first, .smp_sl_8_row_last):hover span{
    background: var(--dark);
}

.smp_sl_8_row_first .smp_sl_8_3,.smp_sl_8_row_first .smp_sl_8_2{
    align-items: flex-start;
}

.smp_sl_8_2 div,.smp_sl_8_3 div{
    padding-top:16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--main);
    padding-left:16px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor:default;
}

.smp_sl_8_2 div::after{
    content:'';
    width:114px;
    height:53px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../media/img/sl_8_smp4.svg);
}


.smp_sl_8_3 div::after{
    content:'';
    width:135px;
    height:53px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../media/img/sl_8_smp5.svg);
}

.smp_sl_8_link{
    border-radius: 0 0 12px 12px;
    padding: 20px;
    flex: 1 1 auto;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:24px -18px -1px;
}

.smp_sl_8_mobile{
    display:flex;
    flex-direction: column;
    gap:32px;
}


.smp_sl_8_mobile{
    display:none;
}

.smp_sl_8_mobile_col{
    display:flex;
    flex-direction: column;
    gap:12px;
    padding:20px;
    border: 1px solid var(--main);
    border-radius: 12px;
}

.smp_sl_8_mobile_head{
    justify-content: space-between;
    display:flex;
}

.smp_sl_8_mobile_head span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--main);
}

.smp_sl_8_mobile_body{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.smp_sl_8_mobile_row{
    display:flex;
    flex-direction: column;
    gap:8px;
}

.smp_sl_8_mobile_row_title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--second);
}

.smp_sl_8_mobile_row_text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--white);
}

.smp_sl_8_mobile_link{
    border-radius: 0 0 12px 12px;
    padding: 20px;
    height: 64px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin:8px -22px -21px;
}

.smp_sl_9{
    margin-top:292px;
    display:flex;
    gap:248px;
    margin-bottom:224px;
}

.smp_sl_9_l{
    flex:0 0 332px;
}

.smp_sl_9_r{
    flex:1 1 auto;
    display:flex;
    flex-direction: column;
}

.smp_4_faq_el_text{
    display:none;
    padding-bottom:28px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
}

.smp_4_faq_el.act .smp_4_faq_el_text{
    display:block;
}

.smp_4_faq_els{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.smp_4_faq_el{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.smp_4_faq_el_title{
    display:flex;
    gap:30px;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

.smp_4_faq_el_title span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--main);
    transition:0.2s;
}

.smp_4_faq_el_title:hover span{
    /*color: var(--main-hover);*/
}

.smp_4_faq_el_title::after{
    content:'';
    flex:0 0 14px;
    height:26px;
    background:url("../media/img/arr_bottom.svg") center center no-repeat;
    background-size:contain;
    transition:0.2s;
}

.smp_4_faq_el.act .smp_4_faq_el_title::after{
    transform:rotate(180deg);
}