@media (min-width:768px) and (max-width:1200px){


    .container {
        max-width: 768px;
        padding:0px  16px;
    }

    .slide:nth-child(1){
        padding-top:16px;
    }

    .simpTitle{
        font-size: 10px;
    }
    
    .simpText{
        font-size: 24px;
    }

    .tablet{
        display:block ;
    }
    .platform{
        margin-top:40px;
    }

    .platformContent{
        flex-direction: column;
        align-items: flex-start;
    }

    .platformContentText{
        flex: 0 0 auto;
    }
    .platformContentText .title{
        font-size: 24px;
    }

    .platformContentText .text{
        font-size: 16px;
        margin-top: 16px;
    }

    .dwn{
        font-size: 13px;
    }

    .platformContent{
        gap:40px;
    }

    .platformContentMediaTop {
        padding: 40px 40px 32px 40px;
    }
    
    .platformContentMediaMenu{
        gap:28px;
    }

    .platformSoc{
        margin-top:50px;
    }

    .platformSocMenu a {
        font-size: 13px;
    }
    
    .platformContentMediaMenu span{
        font-size: 10px;
    }

    .platformContentMediaBtn{
        font-size:13px;
    }


    /***************************************/


    .futureTop{
        top:0;
    }
    .future{
        padding-top:0;
    }

    .futureTopText{
        font-size:24px;
    }

    .futureTopTitle{
        font-size:10px;
    }
    .futureBotCol span{
        font-size:16px;
        text-align: center;
        max-width:130px;
    }

    .futureBotBg{
        position: absolute;
        width: 286px;
        height: 353px;
        margin-top: -184px;
        margin-left: -143px;
        background-image: url(../media/img/futureT.svg);
    }

    .futureBot{
        min-height:913px;
        flex-direction: column;
        gap:366px;
        background-image: url(../media/img/blueDotsT.svg);
    }

    .futureBotCol{
        flex-direction: row;
        gap:0px;
    }

    /*********************************/

    .functions{
        display:flex;
        gap:70px;
        flex-direction: column;
        margin-top:160px;
    }
    
    .functionsCol{
        display:flex;
    }
    
    .functionsCol:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        flex:1 1 auto;
        gap:16px;
    }
    
    .functionsTitle{
        flex:1 1 40%;
        font-size: 24px;
        padding-right:60px;
    }
    
    .functionsText{
        flex:1 1 40%;
        font-size: 13px;
    }
    
    .functionsEl{
        font-size: 13px;
        height:104px;
    }
    .functionsEl>div{
        max-width:280px;
    }

    /*************************/

    .fastClear{
        margin-top:160px;
    }

    .fastClearText{
        font-size: 11px;
    }

    .fastClearTitle{
        font-size: 30px;
    }

    .fastClearColTop{
        width:332px;
    }

    .fastClearCol:nth-child(1){
        flex-direction: row;
        justify-content: flex-start;
        flex:1 1 100%;
        display: flex;
        gap:40px;
    }

    .fastClearColBot{
        width: 178px;
    }

    .fastClear{
        flex-direction:column;
        gap:78px;
    }

    .fastClearCons{
        font-size: 13px;
        border-radius: 12px 12px 0px 0px;
    }

    .fastClearTg{
        font-size: 13px;
    }

    .fastClearEls{
        gap:8px;
    }

    .fastClearEl{
        padding: 16px;
        font-size: 13px;
    }

    .fastClearEl:nth-child(1){
        width:271px;
    }

    .fastClearEl:nth-child(1)::after{
        right:16px;
        bottom:16px;
    }

    .fastClearEl:nth-child(2){
        width:178px;
    }

    .fastClearEl:nth-child(3){
        width:271px;
    }

    .fastClearEl:nth-child(4){
        width:271px;
    }

    .fastClearEl:nth-child(4)::after{
        right:16px;
        bottom:16px;
    }


    .fastClearEl:nth-child(5){
        width:271px;
    }

    .fastClearEl:nth-child(6){
        width:178px;
    }

    .fastClearEl:nth-child(7){
        width:271px;
    }

    .fastClearEl:nth-child(8){
        width:178px;
    }

    .fastClearEl:nth-child(9){
        width:271px;
    }

    .fastClearEl:nth-child(10){
        width:178px;
    }

    .fastClearEl:nth-child(11){
        width:271px;
    }

    .fastClearEl:nth-child(12){
        width:271px;
    }

    /*********************************/

    .arch{
        margin-top:160px;
        gap:60px;
    }

    .archCol:nth-child(1){
        gap:40px;
    }

    .archColLeft{
        flex:0 0 332px;
    }

    .archColRight{
        font-size: 13px;
    }

    .archCol:nth-child(2){
        gap:222px;
    }

    .archColBur{
        width: 150px;
        height:324px;
    }

    .archEls{
        gap:8px;
    }

    .archEl{
        display:flex;
        gap:0px;
        height:137px;
        padding: 16px;
        flex-direction: column;
        justify-content: space-between;

    }


    .archElLeft{
        flex:0 0 auto;
        font-size: 16px;
    }

    .archElRight{
        flex:0 0 auto;
        font-size: 13px;
    }

    /*********************************/

    .driver{
        gap:60px;
        margin-top:160px;
    }

    .driverCol:nth-child(1){
        gap:40px;
    }

    .driverColLeft{
        flex:0 0 332px;
    }

    .driverColRight{
        font-size: 16px;
    }

    .driverCol:nth-child(2){
        gap:101px;
    }

    .driverEls{
        gap:8px;
    }

    .driverEl{
        padding: 16px;
        width: 224px;
        height: 80px;
        font-size: 13px;
    }

    .driverForm{
        flex:0 0 178px;
        margin-bottom:16px;
    }

    .driverCons {
        border-radius: 12px 12px 0px 0px;
        padding: 20px;
        font-size: 13px;
    }

    .driverTg{
        font-size: 13px;
    }


    /***************************/

    .lua{
        margin-top:160px;
        gap:110px;
        background-image: url("../media/img/luaBgT.png");
    }

    .luaTop{
        display:flex;
        justify-content: space-between;
    }

    .luaTopText{
        flex:0 0 332px;
    }

    .luaTopLogo{
        width:146px;
        height:146px;
    }

    .luaBot{
        gap:101px;
    }

    .luaBotText{
        flex:0 0 286px;
        font-size: 13px;
    }

    .luaBotInfo{
        flex:0 0 239px;
        font-size: 13px;
    }

    /************************************/

    .storage{
        margin-top:160px;
    }

    .storageTop{
        gap:40px;
    }

    .storageTopText{
        flex:0 0 332px;
    }

    .storageTopDesc{
        flex:0 0 332px;
        padding-top:44px;
        font-size: 13px;
    }

    .storageBot{
        gap:101px;
    }

    .storagePresentation{
        flex:0 0 178px;
    }

    .storageEls{
        gap:8px;
    }

    .storageEl{
        flex:1 1 100%;
        padding: 16px;
        height: 121px;
    }

    .storageElTitle{
        font-size: 16px;
    }

    .storageElDescText{
        font-size: 10px;
    }

    .storageBotPresentationTop{
        border-radius: 12px 12px 0px 0px;
        padding: 20px;
        font-size: 13px;
    }

    .storageBotPresentationBot{
        font-size: 13px;
    }


    /************************************************/

    .astra{
        margin-top:160px;
        gap:60px;
        background-image: url("../media/img/linuxBgT.png");
    }

    .astraTop{
        display:flex;
        gap:84px;
    }

    .astraTextOb{
        flex:0 0 332px;
    }

    .astraDesc{
        padding-top:32px;
        display:flex;
        gap:26px;
    }

    .astraDescContent{
        display:flex;
        flex-direction: column;
        gap:16px;
        flex:0 0 256px;
    }

    .astraDescContentText{
        font-size: 13px;
    }

    .astraDescPic{
        display:none;
    }

    .astraDescContent .dwn{
        display:none;
    }

    .astraBot{
        border: none;
        border-radius:0px;
        padding:0px 40px 0px 48px;
    }

    .astraBotElsIn{
        gap:8px;
    }

    .astraBotEl{
        width: 288px;
        height: 116px;
        padding:16px;
        font-size: 16px;
        background: var(--dark);
        border:none;
    }

    .astraBotEl:nth-child(1)::before{
        display:none;
    }

    .astraBotEl:nth-child(1)::after{
        display:none;
    }

    .astraBotEl:nth-child(2)::before{
        display:none;
    }

    .astraBotEl:nth-child(4)::before{
        display:none;
    }

    .astraBotReserv{
        left: -30px;
        top: 50%;
        margin-top:-36px;
        font-size: 13px;

    }

    .astraBotElsBot{
        font-size: 13px;
    }
}