@media (min-width:768px) and (max-width:1439px){

    .fullpage{
        gap:160px;
    }

    .container {
        max-width: 768px;
        padding:0px  16px;
    }

    .slide:nth-child(1){
        padding-top:16px;
    }

    .simpTitle{
        font-size: 10px;
    }
    
    .simpText{
        font-size: 24px;
    }

    .tablet{
        display:block ;
    }
    .platform{
        margin-top:40px;
    }

    .platformContent{
        flex-direction: column;
        align-items: flex-start;
    }

    .platformContentMediaPic{
        max-width: 479px;
    }

    .platformContentText{
        flex: 0 0 auto;
    }
    .platformContentText .title{
        font-size: 24px;
    }

    .platformContentText .text{
        font-size: 16px;
        margin-top: 16px;
    }

    .dwn{
        font-size: 13px;
    }

    .platformContent{
        gap:40px;
    }

    .platformContentMediaTop {
        padding: 40px 40px 32px 40px;
    }
    
    .platformContentMediaMenu{
        gap:28px;
    }

    .platformSoc{

    }

    .platformSocMenu a{
        font-size: 13px;
    }
    
    .platformContentMediaMenu span{
        font-size: 10px;
    }

    .platformContentMediaBtn{
        font-size:13px;
    }


    /***************************************/


    .futureTop{
       position: static;
    }
    .future{
        padding-top:0;
        /*margin-top:160px;*/
    }

    .futureTopText{
        font-size:24px;
    }

    .futureTopTitle{
        font-size:10px;
    }
    .futureBotCol span{
        font-size:16px;
        text-align: center;
        max-width:130px;
    }

    .futureBotBg{
        position: absolute;
        width: 286px;
        height: 353px;
        margin-top: -184px;
        margin-left: -143px;
        background-image: url(../media/img/futureT.svg);
    }

    .futureBot{
        min-height:759px;
        flex-direction: column;
        gap:366px;
        background-image: url(../media/img/blueDotsT.svg);
    }

    .futureBotCol{
        flex-direction: row;
        gap:0px;
    }

    /*********************************/

    .functions{
        display:flex;
        gap:70px;
        flex-direction: column;
        /*margin-top:160px;*/
    }
    
    .functionsCol{
        display:flex;
    }
    
    .functionsCol:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        flex:1 1 auto;
        gap:16px;
    }
    
    .functionsTitle{
        flex:1 1 40%;
        font-size: 24px;
        padding-right:60px;
    }
    
    .functionsText{
        flex:1 1 40%;
        font-size: 13px;
    }
    
    .functionsEl{
        font-size: 13px;
        height:104px;
    }
    .functionsEl>div{
        max-width:280px;
    }

    /*************************/

    .fastClear{
        /*margin-top:160px;*/
    }

    .fastClearText{
        font-size: 11px;
    }

    .fastClearTitle{
        font-size: 30px;
    }

    .fastClearColTop{
        width:332px;
    }

    .fastClearCol:nth-child(1){
        flex-direction: row;
        justify-content: flex-start;
        flex:1 1 100%;
        display: flex;
        gap:40px;
    }

    .fastClearColBot{
        width: 178px;
    }

    .fastClear{
        flex-direction:column;
        gap:78px;
    }

    .fastClearCons{
        font-size: 13px;
        border-radius: 12px 12px 0px 0px;
    }

    .fastClearTg{
        font-size: 13px;
    }

    .fastClearEls{
        gap:8px;
    }

    .fastClearEl{
        padding: 16px;
        font-size: 13px;
    }

    .fastClearEl:nth-child(1){
        width:271px;
    }

    .fastClearEl:nth-child(1)::after{
        right:16px;
        bottom:16px;
    }

    .fastClearEl:nth-child(2){
        width:178px;
    }

    .fastClearEl:nth-child(3){
        width:271px;
    }

    .fastClearEl:nth-child(4){
        width:271px;
    }

    .fastClearEl:nth-child(4)::after{
        right:16px;
        bottom:16px;
    }


    .fastClearEl:nth-child(5){
        width:271px;
    }

    .fastClearEl:nth-child(6){
        width:178px;
    }

    .fastClearEl:nth-child(7){
        width:271px;
    }

    .fastClearEl:nth-child(8){
        width:178px;
    }

    .fastClearEl:nth-child(9){
        width:271px;
    }

    .fastClearEl:nth-child(10){
        width:178px;
    }

    .fastClearEl:nth-child(11){
        width:271px;
    }

    .fastClearEl:nth-child(12){
        width:271px;
    }

    /*********************************/

    .arch{
        /*margin-top:160px;*/
        gap:60px;
    }

    .archCol:nth-child(1){
        gap:40px;
    }

    .archColLeft{
        flex:0 0 332px;
    }

    .archColRight{
        font-size: 13px;
    }

    .archCol:nth-child(2){
        gap:222px;
    }

    .archColBur{
        width: 150px;
        height:324px;
    }

    .archEls{
        gap:8px;
    }

    .archEl{
        display:flex;
        gap:0px;
        height:137px;
        padding: 16px;
        flex-direction: column;
        justify-content: space-between;

    }


    .archElLeft{
        flex:0 0 auto;
        font-size: 16px;
    }

    .archElRight{
        flex:0 0 auto;
        font-size: 13px;
    }

    /*********************************/

    .driver{
        gap:60px;
        /*margin-top:160px;*/
    }

    .driverCol:nth-child(1){
        gap:40px;
    }

    .driverColLeft{
        flex:0 0 332px;
    }

    .driverColRight{
        font-size: 16px;
    }

    .driverCol:nth-child(2){
        gap:101px;
    }

    .driverEls{
        gap:8px;
    }

    .driverEl{
        padding: 16px;
        width: 224px;
        height: 80px;
        font-size: 13px;
    }

    .driverForm{
        flex:0 0 178px;
        margin-bottom:16px;
    }

    .driverCons {
        border-radius: 12px 12px 0px 0px;
        padding: 20px;
        font-size: 13px;
    }

    .driverTg{
        font-size: 13px;
    }


    /***************************/

    .lua{
        /*margin-top:160px;*/
        gap:110px;
        background-image: url("../media/img/luaBgT.png");
    }

    .luaTop{
        display:flex;
        justify-content: space-between;
    }

    .luaTopText{
        flex:0 0 332px;
    }

    .luaTopLogo{
        width:146px;
        height:146px;
    }

    .luaBot{
        gap:101px;
    }

    .luaBotText{
        flex:0 0 286px;
        font-size: 13px;
    }

    .luaBotInfo{
        flex:0 0 239px;
        font-size: 13px;
    }

    /************************************/

    .storage{
        /*margin-top:160px;*/
    }

    .storageTop{
        gap:40px;
    }

    .storageTopText{
        flex:0 0 332px;
    }

    .storageTopDesc{
        flex:0 0 332px;
        padding-top:44px;
        font-size: 13px;
    }

    .storageBot{
        gap:101px;
    }

    .storagePresentation{
        flex:0 0 178px;
    }

    .storageEls{
        gap:8px;
    }

    .storageEl{
        flex:1 1 100%;
        padding: 16px;
        height: 121px;
    }

    .storageElTitle{
        font-size: 16px;
    }

    .storageElDescText{
        font-size: 10px;
    }

    .storageBotPresentationTop{
        border-radius: 12px 12px 0px 0px;
        padding: 20px;
        font-size: 13px;
    }

    .storageBotPresentationBot{
        font-size: 13px;
    }


    /************************************************/

    .astra{
        /*margin-top:160px;*/
        gap:60px;
        background-image: url("../media/img/linuxBgT.png");
    }

    .astraTop{
        display:flex;
        gap:84px;
    }

    .astraTextOb{
        flex:0 0 332px;
    }

    .astraDesc{
        padding-top:32px;
        display:flex;
        gap:26px;
    }

    .astraDescContent{
        display:flex;
        flex-direction: column;
        gap:16px;
        flex:0 0 256px;
    }

    .astraDescContentText{
        font-size: 13px;
    }

    .astraDescPic{
        display:none;
    }

    .astraDescContent .dwn{
        display:none;
    }

    .astraBot{
        border: none;
        border-radius:0px;
        padding:0px 40px 0px 48px;
    }

    .astraBotElsIn{
        /*gap:8px;*/
    }

    .astraBotEl{
        /*width: 288px;*/
        width: 272px;
        height: 116px;
        padding:16px;
        font-size: 16px;
        /*background: var(--dark);*/
        /*border:none;*/
    }

    .astraBotEl:nth-child(1)::before{
        /*display:none;*/
    }

    .astraBotEl:nth-child(1)::after{
       /* display:none;*/
    }

    .astraBotEl:nth-child(2)::before{
       /* display:none;*/
    }

    .astraBotEl:nth-child(4)::before{
       /* display:none;*/
    }

    .astraBotReserv{
        left: -30px;
        top: 50%;
        margin-top:-36px;
        font-size: 13px;

    }

    .astraBotElsBot{
        font-size: 13px;
    }

    /**************************************************/

    .footer{
       /*margin-top: 160px;*/
    }

    .footerIn{
        /*height:173px;*/
        gap:57px;
    }

    .footerTop{
        display:flex;
        justify-content: space-between;
    }

    .footerTopLogo{
        font-size: 28px;
    }

    .footerTopContactPhone{
        font-size: 24px;
    }

    .footerTopContactSoc>a{
        font-size: 24px;
    }

    /************************************/

    .kasp{
        /*margin-top:160px;*/
    }

    .kaspTop{
        gap:40px;
    }

    .kaspTopOne{
        flex:0 0 332px;
    }

    .kaspTopTwo{
        flex:0 0 332px;
        font-size: 13px;
    }

    .kaspMid{
        display:flex;
        gap:2px;
    }

    .kaspMidEl{
        flex:1 1 40%;
    }

    .kaspBot{
        gap:194px;
    }

    .kaspBotWinLin{
        flex:0 0 178px;
        display: flex;
        flex-direction: column;
    }

    .kaspBotWinLinDesc{
        border-radius: 12px 12px 0px 0px;
        padding: 20px;
        font-size: 13px;
    }

    .kaspBotWinLinLink{
        font-size: 13px;
    }

    .kaspBotWinLinDesc::before{
        margin-bottom: 16px;
    }


    .kaspBotDocs{
        flex:0 0 364px;
        padding: 16px;
        gap:100px;
    }

    .kaspBotDocsTitle{
        font-size: 10px;
    }

    .kaspBotDocsLinks{
        gap:32px;
    }

    .kaspBotDocsLinksTitle{
        font-size: 13px;
    }

    .kaspBotDocsLinksEl{
        font-size: 13px;
    }

    
    /*********************************/

    .distr{
        /*margin-top: 160px;*/
        gap:60px;
    }

    .distrTop{
        width:332px;    
    }

    .distrBot{
        gap:8px;
    }

    .distrBotEl{
        flex:1 1 40%;
    }

    .distrBotElBlock{ 
        height: 240px; 
    }

    .distrBotEl:nth-child(1) .distrBotElBlockLogo{
        width:257px;
        height:38px;
    }

    .distrBotEl:nth-child(2) .distrBotElBlockLogo{
        width:220px;
        height:76px;
    }

    .distrBotElDesc{
        margin-top:8px;
        font-size: 13px;
    }

    /**********************************************/

    .news{
        /*margin-top:160px;*/
        display:flex;
        flex-direction: column;
        gap:60px;
    }

    .newsCol:nth-child(1){
        flex:0 0 100%;
    }

    .newsCol:nth-child(2){
        gap:8px;
    }

    .newsContent{
        gap:8px;
    }


    .newsEl>img{
        flex:0 0 368px;
    }

    .newsElBody{
        gap:20px;
    }

    .newsElBodyTop{
        gap:20px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .newsElTags{
        display:flex;
        flex-wrap: wrap;
    }

    .newsElDate{
        font-size: 10px;
    }

    .newsElTag{
        padding: 3px 6px 3px 6px;
        font-size: 10px;

    }

    .newsElText{
        font-size: 13px;
    }

    .newsTg{
        font-size: 13px;
        padding:16px;
    }

    .newsTg i{
        right:16px;
    } 
    
    .big_link{
        font-size: 13px;
        padding:16px;
    }

    .big_link i{
        right:16px;
    }


    /********************************************************/

    .feedback{
        /*margin-top:160px;*/
        display:flex;
        gap:16px;
        flex-direction: column;
        align-items: stretch;
    }

    .feedbackInfo{
        gap:96px;
        padding:16px 16px 32px 16px;
        align-items:flex-start;
    }


    .feedbackInfoText{
        max-width:332px;
        padding-top:0px;
        font-size: 16px;
    }

    .feedbackInfoStaffElText{
        padding:6px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .feedbackInfoStaffElName{
        font-size: 13px;
    }

    .feedbackInfoStaffElPosition{
        font-size: 10px;
    }

    .feedbackForm{
        flex:0 0 448px;
        display:flex;
        flex-direction: column;
    }

    .feedbackAgreement{
        max-width:345px;
        font-size: 13px;
        align-self:center;
    }

    /********************************/

    .download{
        /*margin-top:160px;*/
        min-height:668px;
        background-image: url(../media/img/downloadT.svg);
        display:flex;
        align-items: center;
    }

    .downloadIn{
        display:flex;
        gap:60px;
        flex-direction: column;
        align-items: flex-start;
    }

    .downloadTitle{
        font-size: 30px;
    }

    .downloadEls{
        flex:0 0 100%;
        display:flex;
        gap:8px;
    }

    .downloadEl{
        flex:0 0 178px;
        display:flex;
        flex-direction: column;
    }

    .downloadElTitle{
        min-height:153px;
        gap:16px;
        font-size: 13px;
        padding:20px;
    }

    .downloadElLink{
        height: 64px;
        font-size: 13px;
    }

    .downloadElLink:hover{
        color:var(--white);
    }

    /********************************/

    #fullpage.disabled {
        visibility: visible;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        pointer-events: all;
    }

    #fp_welcome{
        display:none;
    }

    #section1{
        background:url("../media/img/mp_g_3.svg");
        background-position: right bottom;
        background-repeat:no-repeat;
    }


    .mp_1{        
        flex-direction: column;
        width:100%;
        gap:90px;
        padding:16px 0px 110px;
    }

    .mp_1_l{ 
        gap: 40px;
    }

    .mp_1_l_top_info_mail{
        font-size: 13px;
    }
    
    .mp_1_l_top_info_phone{
        font-size: 13px;
    }

    .mp_1_l_bot_btn{
        display:none;
    }

    .mp_1_l_bot_content{
        flex-direction: row;
        gap:80px;
        max-width: 100%;
    }

    .mp_1_l_bot_content_title{
        font-size: 24px;
    }


    .mp_1_l_bot_content_text{
        font-size: 16px;
    }

    .mp_1_product{
        min-height: 166px;
        gap:12px;
    }

    .mp_1_product_text{
        font-size: 10px;
    }

    .mp_1_product_name{
        font-size: 24px;
    }

    .mp_1_r{
        flex:1 1 auto;
        padding-bottom:0px;
    }


    /************************/

    .fp-slides{
        position:relative;
    }

/****************************************/

    .preview-item-mobile{
        display:flex;
    }

    
    .fp_anim{
        display:flex;
        position:relative;
        align-items:center;
        width:100%;
        height:auto;
        margin-top:0px;
        margin-left:0px;
    }

    .fp_anim_wheel{
        position:static;
        left:0;
        top:0%;
        margin-top:0px;
    }

    .fp_anim_cursor{
        position:static;
        right:0;
        top:0;
        margin-top:0px;
    }

    .fp_anim_bryzg{
        display:none;
    }

    .fp_anim_text{
        font-family: var(--second-family);
        font-size: 24px;
        width:auto;
        position:static;
        right:0%;
        margin-right:75px;
        margin-left:57px;
        height:auto;
        top:0%;
        margin-top:0px;
        max-width:268px;
    }

    .container_in{
        align-items: center;
    }

    .mp_title{
        align-self: flex-start;
    }
    
    .mp_title_big{
        font-weight: 300;
        font-size: 24px;
        letter-spacing: -0.07em;
    }

    .mp_slide_1 .container_in{
        padding:0px 0px;
    }

    #pi_mobile_1{
        margin-top:54px;
    }

    .preview-item-title{
        font-size: 10px;
    }

    #pi_mobile_1 .preview-item-text{
        font-size: 16px;
        line-height: 120%;
    }

    .preview-item-mobile{
        min-height:0;
    }

    .fp_anim_ob{
        margin-top:146px;
    }

    .mp_slide_2 {
        margin-top:103px;
    }

    .preview-item-text{
        font-size:13px;
    }

    .mp_slide_video_ob{
        margin-top:52px;
        margin-left:0;
        margin-right:0;
    }

    .mp_slide_3 {
         margin-top:42px;
    }

    .mp_scheme_ob{
        margin-top:85px;
        margin-left:0;
        margin-right:0;
    }

    .mp_scheme{
        margin-left:0px;
    }

    .mp_slide_4{
        margin-top:114px;
    }

    .mp_pic{
        margin-top:35px;
        margin-left:0px;
        margin-right:0px;
    }

    #fullpage.mp_fullpage {
        height: auto !important;
        overflow: visible;
        transform:none !important;
        display:flex;
        flex-direction: column;
        gap:80px;
        align-items: center;
    }

    .main_bg{
        background: url('../media/img/mp_d_tablet.svg') center center no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }

    .mp_distr{
        padding:0px 0px;
    }
/**********************************/
    .mp_products{
        padding:0px 0px;
        flex-direction: column;
        gap:60px;
    }

    .mp_products_l{
        flex-direction: row;
        gap:0;
        flex:1 1 auto;
        justify-content: space-between;
    }

    .mp_products_l_top{
        max-width:300px;
    }

    .mp_products_l_bot{
        max-width:270px;
        font-size: 13px;
    }

    .mp_products_el_type{
        font-size:10px;
    }

    .mp_products_el_name{
         font-size:24px;
    }

    .mp_products_el_desc{
        font-size:13px;
    }

    /*************************/

    .mp_course_container{
        padding:0px 0px;
        flex-direction: column;
        gap:46px;
    }

    .mp_course_l{
        flex:0 0 auto;
        width:320px;
    }

    .mp_course_r{
        flex:1 1 auto;
    }

    .mp_courses{
        gap:8px;
    }

    .mp_course{
        width:calc(50% - 4px);
        padding:16px;
    }

    .mp_course_name{
        font-size: 24px;
    }

    .mp_course_desc{
        font-size: 13px;
    }

    .mp_cours_link.big_link{
        margin-top:8px;
        padding:16px;
    }

    .mp_news{
        padding:0px 0px;
    }

    .mp_feedback{
        gap:40px;
        padding:0px 0px;
    }

    .mp_feedback .feedbackInfo{
        
    }

    /******************************/


    .mp_clients{
        padding:0px 0px;
        min-height:100vh;
        gap:120px;
    }

    .mp_clients_container{
        display:flex;
        flex-direction: column;
        gap:60px;
        flex:1 1 auto;
        justify-content: center;
        align-items: center;
        margin-top:0px;
        padding-bottom:120px;
    }

    .mp_client_els_title{
        font-size: 10px;
    }

    .mp_client_els{
        gap:60px;
        width:544px;
    }

    .mp_client{
        min-height:53px;
        display:flex;
        align-items:center;
        justify-content: center;
    }


    /************************/


    .menu_footer{
        gap:40px;
    }

    .mp_fullpage .menu_footer{
        padding:0px;
    }

    .menu_bottom{
        display:flex;
        flex-wrap:wrap;
        gap:8px;
    }

    .menu_bottom_col{
        padding: 16px;
        width:178px;
    }

    .menu_bottom_col_el_main,.menu_bottom_col_el{
        font-size: 13px;
    }

    #section1 .container .mp_bg {
        display:none;
    }

/*************************/

    .course_container{
        padding:16px 0px 0px 0px;
        flex-direction: column;
        gap:46px;
    }

    .course_l{
        flex:0 0 auto;
        width:320px;
    }

    .course_r{
        flex:1 1 auto;
    }

    .courses{
        gap:8px;
    }

    .course{
        width:calc(50% - 4px);
        padding:16px;
    }

    .course_name{
        font-size: 24px;
    }

    .course_desc{
        font-size: 13px;
    }
        
    .inner_title{
        gap:16px;
    }

    .inner_title_big{
        font-size: 22px;
    }

    .courses_main{
      gap: 120px;
    }

    /******************************/
    
    .single_course_container{
        gap:80px;
        padding-top:16px;
    }

    .single_course_container_bot{
        gap:32px;
    }

    .single_course_container_bot_title{
        font-size: 10px;
    }

    .single_course_container_bot_courses{
        gap:8px;
    }

    .single_course_container_bot_course{
        width:calc(50% - 4px);
        padding:16px;
    }

    .single_course_container_bot_course_name{
        font-size: 24px;
    }

    .single_course_container_bot_course_desc{
        font-size: 13px;
    }

    .single_course_container_bot_course_pic{
        margin-top:16px;
        max-height:190px;
    }

    .single_course_container_bot_course_link{
        justify-content: flex-end;
    }

    .single_course_container_bot_course_link span{
        display:none;
    }



    .single_course_container_mid{
        flex-direction: column;
        gap:60px;
    }

    .single_course_container_mid_l{
        display:flex;
        gap:16px;
    }

    .single_course_container_mid_for_els span,.single_course_container_mid_req_els span{
        font-size: 13px;
    }

    .single_course_container_mid_title{
        font-size: 10px;
    }

    .single_course_container_mid_teacher{
        width:264px;
    }

    .single_course_container_mid_teacher_text_name{
         font-size: 13px;
    }

    .single_course_container_mid_teacher_text_desc{
        font-size: 10px;
    }

    /***************/

    .single_course_container_top{
        gap:40px;
        flex-direction: column;
    }

    .single_course_main .inner_title{
        max-width:332px;
    }

    .single_course_container_l{
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        gap:32px;
    }

    .single_course_container_desc{
        max-width: 271px;
        font-size: 13px;
    }

    .single_course_container_r{
        display:flex;
        flex:1 1 auto;
        gap:8px;
    }

    .single_course_container_r>div{
        width:364px;
        display:flex;
    }

    .single_course_desc_title{
        font-size: 10px;
    }

    .single_course_desc_big{
        margin-top:40px;
        font-size: 16px;
        max-width:228px;
    }

    .single_course_desc_small{
        margin-top:16px;
        font-size: 13px;
        max-width:228px;
    }

    .single_course_container_r_r{
        display:flex;
        flex-direction: column;
        gap:8px;
    }

    .single_course_about{
        padding:16px;
        gap:67px;
    }

    .single_course_about_title{
        font-size: 10px;
    }

    .single_course_about_els{
        gap:16px;
    }

    .single_course_about_el_number{
        font-size: 24px;
    }

    .single_course_about_el_text{  
        font-size: 13px;
    }

    .single_course_pic_link{
        min-height:265px;
        gap:26px;
    }

    .single_course_pic_link>span{
        font-size: 13px;
    }

    .single_course_pic_link>a{
        font-size: 13px;
    }

}